/*font-family: 'Lato', sans-serif;*/
:root {
  --light-grey: rgba(217, 217, 217, 1);
  --dark-black: rgba(1, 6, 37, 1);
  --dark-blue: rgba(1, 6, 45, 1);
  --white: rgba(255, 255, 255, 1);
}
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  color: var(--white);
  margin: 0;
  padding: 0;
  background-color: var(--dark-blue);
}

.up-container {
  display: flex;
  flex-direction: wrap;
  /* align-items: flex-start; */
  flex: 2;
  padding: 1rem;
}

.up-container .title-and-text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: 4rem;
}
.up-container .title-and-text h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}
.up-container .title-and-text p {
  margin-bottom: 2rem;
  font-size: medium;
}
.up-container .title-and-text button {
  margin-top: 2rem;
  width: 12rem;
  height: 4rem;
  border-radius: 1.2rem;
  font-size: 1.6rem;
}

.up-figure-container {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  /* justify-content: flex-end; */
  margin-left: auto;
}
/* .up-figure-container figure {
  gap: 2px;
} */

.up-figure-container figure img {
  width: 30rem;
  height: 30rem;
  padding: 0;
}
/***************************************************************/

.medium-container {
  display: flex;
  align-items: flex-start;
  margin: 3rem;
}

.medium-container .medium-container figure {
  margin-right: 3rem;
  margin-top: 2rem;
}
.medium-container .span-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  margin-left: 20rem;
  margin-top: -8rem;
  font-size: 2rem;
}
.medium-container .span-container img {
  width: 5rem;
  margin-bottom: 2rem;
}
.medium-container .span-container .span-number {
  align-items: flex-start;
  margin-bottom: 2rem;
}
.medium-container .span-container span {
  align-items: flex-start;
  margin-bottom: 3rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.footer-container figure {
  margin-right: 1.2rem;
}

@media only screen and (max-width: 960px) {
  * {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
  }
  .up-container {
    flex-direction: column;
    margin: auto;
  }

  .up-container .title-and-text {
    margin-left: 0;
    text-align: center;
  }

  .up-container .title-and-text h1 {
    font-size: 3.5rem;
  }
  .up-container .title-and-text button {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .up-figure-container {
    margin-left: 0;
    justify-content: center;
    margin-top: 2rem;
  }

  .up-figure-container figure img {
    max-width: 100%;
    height: auto;
  }

  .medium-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .medium-container .medium-container figure {
    width: 50%;
    margin-right: 0;
    margin-top: 2rem;
  }

  .medium-container .span-container {
    display: block;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -1rem;
  }

  .medium-container .span-container span {
    margin-bottom: 2rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-container figure img {
    max-width: 100%;
    height: auto;
  }
}
